
#pix1 {
	
	margin-left: 5px;
	border-spacing: 2px;
}

#pix2 {
	
	margin-left: 5px;
}

#pix3 {
	
	margin-left: 5px;
}


#pix4 {
	
	margin-left: 5px;
}

#pix5 {
	
	margin-left: 5px;
}

#pix6 {
	
	margin-left: 5px;
}

#pix7 {
	
	margin-left: 5px;
}

#pix8 {
	
	margin-left: 5px;
}

#pix9 {
	
	margin-left: 5px;
	margin-top: 10px;
}

#pix10 {
	
	margin-left: 5px;
	margin-top: 10px;
}

#pix11 {
	
	margin-left: 5px;
	margin-top: 10px;
}

#pix12 {
	
	margin-left: 5px;
	margin-top: 10px;
}

#pix13 {
	
	margin-left: 5px;
	margin-top: 10px;
}

#pix14 {
	
	margin-left: 5px;
	margin-top: 10px;
}

#pix15 {
	
	margin-left: 5px;
	margin-top: 10px;
}

#pix16 {
	
	margin-left: 5px;
	margin-top: 10px;
}