#newsnote1 { 
	font-size: 14px;
	font-family: Helvetica;
	top: 20px;
}

#tre {
	position: relative;
	top: -170px;
	right: -230px;
}

#newsnote2 {
	font-size: 14px;
	font-family: Helvetica;
	position: relative;
	top: -160px;
	right: -240px;
}

#barron {
	position: relative;
	top: -330px;
	right: -430px;
}

#newsnote3 {
	font-size: 14px;
	font-family: Helvetica;
	position: relative;
	top: -320px;
	right: -430px;
}

#brockers {
	position: relative;
	top: -490px;
	right: -640px;
}

#newsnote4 {
	font-size: 14px;
	font-family: Helvetica;
	position: relative;
	top: -480px;
	right: -640px;
}

#barrett {
	position: relative;
	top: -440px;
	right: -20px;
}

#newsnote5 { 
	font-size: 14px;
	font-family: Helvetica;
	top: -430px;
	right: -20px;
}

#thenumbers {
	position: relative;
	top: -598px;
	right: -240px;
}

#newsnote6 { 
	font-size: 14px;
	font-family: Helvetica;
	top: -590px;
	right: -240px;
}

#peed {

	position: relative;
	top: -758px;
	right: -440px;
}

#newsnote7 { 
	font-size: 14px;
	font-family: Helvetica;
	top: -745px;
	right: -440px;
}

#scout {

	position: relative;
	top: -918px;
	right: -640px;
}

#newsnote8 { 
	font-size: 14px;
	font-family: Helvetica;
	top: -903px;
	right: -640px;
}

#marques {
	position: relative;
	top: -918px;
	right: -20px;
}

#catchup {
	font-size: 14px;
	font-family: Helvetica;
	top: -905px;
	right: -20px;
}

#auburn {
	position: relative;
	top: -1095px;
	right: -220px;
}

#duo {

	font-size: 14px;
	font-family: Helvetica;
	top: -1080px;
	right: -220px;
}

#zac {
	position: relative;
	top: -1250px;
	right: -440px;
}

#legacy {

	font-size: 14px;
	font-family: Helvetica;
	top: -1240px;
	right: -440px;
}

#Bates {

	position: relative;
	top: -1400px;
	right: -665px;
}

#daren {

	font-size: 14px;
	font-family: Helvetica;
	top: -1385px;
	right: -665px;
}